#title{
  text-align: center;
}
#main{
  background-color: #FFFFB2;
}
img{
  max-width: 100%; 
  display: block; 
  height: auto;
  margin: auto;
}
#img-div{
  margin:-5px;
  margin-top:20px;
  width:100%;
  border:5px solid white;
  background:white;
}
#link{
  text-align: center;
}

