/*
body {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "navi main main main"
        "navi main main main"
        "navi main main main"
        "navi main main main"
   }
   */
#main-doc{
    grid-area: main;
    height: auto;
    float: right;
    border: black 2px solid;
    width: 77%;
    text-align: center;
    word-wrap: wrap;
}
#title{
    text-align: center;
}
/*Navigation Pane*/
nav h1 {
    text-align: center;
    border-bottom: 1px solid#555;
}
#nav-list {
    float: left;
    left: -20px;
    position: fixed;
    grid-area: navi;
    height: 100%;
    width: 20%;
    overflow: auto;
}
ul nav {
	border: 1px solid #555;
	list-style-type: none;
    margin: 0;
    padding: 0px;
	background-color: #FFFCF9;
    overflow: auto;
}

#nav-list li:last-child {
    border-bottom: none;
}
#nav-list li {
	display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
    border-bottom: 1px solid #555;
}
hr {
    width: 90%;
    color: rgb(0, 120, 255);
}
h2 {
    color: rgb(0, 120, 255);
}
h4 {
    font-size: 20px;
}
p {
    font-size: 20px;
}
.sprite {
    width: 256px;
    height: 156px;
    background: url("https://cdn0.iconfinder.com/data/icons/communication-technology/500/code_brackets-512.png") 128 175;

}
/*Responsive formatting - media queries*/
@media (max-width: 1200px) {
#main-doc {
    width:75%;
}
}
@media (max-width: 800px) {
#main-doc {
    width: 73%;
}
#layout-img{
    width: auto;
}
}
@media (max-width: 430px) {
body {
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: "navi"
    "main";
    width: 90vw;
}
#nav-list {
    position: relative;
    float: none;
    width: 90vw;
    left: -35px;
    overflow: visible;
    }
ul nav {
    overflow: visible;
}
#main-doc {
    float: none;
    width: 90vw;
    position: absolute;
    top: 350px;
}
#layout-img {
    width: auto;
}
}