body{
    background-color: #6F9384;
    }
#head-div{
    position: sticky;
    top: 0px;
    }
#header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #FAEBD7;
    height: 10%;
    text-align: left;
   
}
#vid-div{
    text-align: center;
    }
#nav-bar{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: right;
}
.nav-link{
    padding: 1em;
    
}
#header-img{
    padding: 0px 2px;
    max-width: 100%;
}
#request{
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
    width: 70%;
}
#form{
    text-align: right;
    }
#center{
    text-align: center;    
}
#points{
    width: 60%;
    background-color:#FAEBD7;
    margin: auto;
    text-align: left;
}
@media (max-width: 450px) {
    #header{
        position: sticky;
        top: 0px;
        display: flex;
        flex-direction: column;
        background-color: #FAEBD7;
        height: 10%;
        border: solid black 2px;
        text-align: center;
        width: 80%;
        display: inline-block;
    }
#head-div{
    text-align: center;
    position: relative;
    top: 0px;

    }
    #nav-bar{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: right;
}
  #points {
    width: 90%;
  }
}
@media (max-width: 560px) {
  #video {
    width: 90%;
    height: auto;
  }
}