main{
    width: 60%;
    margin: 0 auto;
    background-color: beige;
}
body{
    background-color: cyan;
}
#survey-form{
    border: 2px solid black;
}
/*This formatting would be better served on a div tag,rather than
 the label elements, so I could group radio and checkboxes together*/
.labels{
    display: block;
    text-align: right;
    margin-right: 10em;
    margin-bottom: 10px;
    padding: 5px;
}
